[submodule "external/ViGEmClient"]
	path = external/ViGEmClient
	url = https://github.com/ViGEm/ViGEmClient
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
